{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <br>
    <br>
    <br>
    <h2 style=" background-color: white; opacity: 0.9;" >{{ 'registration.check_email'|trans({'%email%': user.email}) }}</h2>
{% endblock fos_user_content %}
