{% extends "@FOSUser/layout.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{  asset('assets/css/fosuser.css')  }}" >

{% endblock %}

 {% block flashback_messages %}

     {% if error %}

         <div class="flash-danger alert alert-danger alert-dismissible">
             <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
             {{ error.messageKey|trans(error.messageData, 'security') }}
         </div>
     {% endif %}
 {% endblock %}

{% block fos_user_content %}
    {{ include('@FOSUser/Security/login_content.html.twig') }}
{% endblock fos_user_content %}
