{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <div class="col-sm-10 ">
        {% include "@FOSUser/Profile/show_content.html.twig" %}

    </div>
{% endblock fos_user_content %}
